@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

/* HEADER */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 2.75rem 0 3.125rem;
}

.navbar-container {
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    padding: 3.5rem 0 0;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#menu {
    display: none;
    background-color: #0ba39c;
    padding: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

#menu img {
    width: 1.6rem;
}

.navbar ul li a {
    color: #252525;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 0.975rem;
}

.navbar ul li a:hover {
    color: #0ba39c;
}

/* MAIN */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
}

/* BLOG CONTAINER */

.blog-title {
    font-family: 'Poller One', cursive;
    color: #fff;
    padding: 15px 28px 12px;
    background-color: #252525;
    font-size: 2.188rem;
    margin-bottom: 2rem;
}

.blog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 930px;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #1a1a1a;
    margin: 0 0 13px;
}

.card-img {
    border-right: 2px solid #1a1a1a;
    opacity: .8;
    cursor: pointer;
}

.card-img:hover {
    transition: .8s ease-in-out;    
    opacity: 1;
}

.card-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-title {
    color: #252525;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.563rem;
    font-weight: 900;
    text-align: center;
    word-break: keep-all;

}

.card-paragraph {
    padding: 30px 30px 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
    line-height: 1.5rem;
    text-align: center;
    word-break: keep-all;
}

.card-btn {
    background: #000;
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    padding: .5rem 1.75rem;
    border: none;
    cursor: pointer;
    border: 3px solid #000;
}

.card-btn:hover {
    color: #000;
    background-color: transparent;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #252525;
    margin: 0;
    padding: 2.25rem 0 2.625rem;
}

.footer div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer div p {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.footer div ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer div ul li {
    border: 2px solid #fff;
    padding: .7rem;
    cursor: pointer;
}

.footer div ul li img {
    width: 1.4rem;
}

.footer div ul li:hover {
    background-color: #fff;
}

.footer div ul li:hover img{
    filter: brightness(0);
}


@media screen and (max-width:820px) {
    .blog-title {
        width: 100%;
        text-align: center;
    }

    .card {
        width: 378px;
        flex-direction: column;
        
    }
    
    .card-img {
        border-right: none;
        border-bottom: 3px solid #000;
    }

    .card-info {
        padding: 1rem 0;
    }

    .card-title {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .card-paragraph {
        padding: 10px 30px;
        font-size: .8rem;
    }
}



@media screen and (max-width:650px) {
    .navbar {
        padding-top: 3rem;
    }

    .navbar ul li {
        display: none;
    }

    #menu {
        display: block;   
    }

    .footer div {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .logo-bg {
        max-width: 100%;
    }
}

@media screen and (max-width:390px) {
    .box-cards {
        padding: 0 2%;
    }

      .card {
        width: 100%;
    }

    .card-img {
        width: 100%;
    }
}